/EventService/.idea/compiler.xml
/EventService/.idea/encodings.xml
/EventService/.idea/jarRepositories.xml
/EventService/.idea/misc.xml
/EventService/.idea/qaplug_profiles.xml
/EventService/.idea/workspace.xml
/EventService/target/classes/com/ecoconnect/eventservice/Controller/EventController.class
/EventService/target/classes/com/ecoconnect/eventservice/Model/Event.class
/EventService/target/classes/com/ecoconnect/eventservice/Repository/EventRepository.class
/EventService/target/classes/com/ecoconnect/eventservice/Service/EventService.class
/EventService/target/classes/com/ecoconnect/eventservice/EventServiceApplication.class
/EventService/target/classes/application.properties
/EventService/target/test-classes/com/ecoconnect/eventservice/EventServiceApplicationTests.class
/UserService/.idea/compiler.xml
/UserService/.idea/encodings.xml
/UserService/.idea/jarRepositories.xml
/UserService/.idea/misc.xml
/UserService/.idea/qaplug_profiles.xml
/UserService/.idea/uiDesigner.xml
/UserService/.idea/workspace.xml
/UserService/target/classes/com/ecoconnect/userservice/Controller/UserController.class
/UserService/target/classes/com/ecoconnect/userservice/Model/User.class
/UserService/target/classes/com/ecoconnect/userservice/Repository/UserRepository.class
/UserService/target/classes/com/ecoconnect/userservice/Service/UserService.class
/UserService/target/classes/com/ecoconnect/userservice/UserApplication.class
/UserService/target/classes/application.properties
/UserService/target/test-classes/com/ecoconnect/userservice/UserApplicationTests.class
